APP_NAME=Swimming Up
APP_ENV=production
APP_DEBUG=false
APP_KEY=GENERAR_APP_KEY
APP_DOMAIN=TU_DOMINIO.com
APP_URL=http://TU_DOMINIO.com/admin
ASSET_URL=http://TU_DOMINIO.com/admin
HTTP_PORT=80

VITE_API_BASE_URL=/api

LOG_CHANNEL=stderr
LOG_LEVEL=warning

SESSION_DRIVER=file
SESSION_DOMAIN=TU_DOMINIO.com
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
CACHE_STORE=file
QUEUE_CONNECTION=sync
MAIL_MAILER=log

POSTGRES_DB=swimmingup
POSTGRES_USER=swimmingup_auth_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_POSTGRES

MARIADB_DATABASE=swimmingup
MARIADB_USER=swimmingup_app_user
MARIADB_PASSWORD=CAMBIAR_PASSWORD_MARIADB
MARIADB_ROOT_PASSWORD=CAMBIAR_PASSWORD_ROOT

WORDPRESS_DB_NAME=swimmingup_wordpress
WORDPRESS_DB_USER=swimmingup_wp_user
WORDPRESS_DB_PASSWORD=CAMBIAR_PASSWORD_WORDPRESS
WP_HOME=http://TU_DOMINIO.com/blog
WP_SITEURL=http://TU_DOMINIO.com/blog
WP_CONTENT_URL=http://TU_DOMINIO.com/blog/wp-content

PHPMYADMIN_PORT=8081
PHPMYADMIN_UPLOAD_LIMIT=64M
