### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

.gitmessage
#promt para codex
promt.txt
estructura.txt
*.txt
estructura.txt
*.txt

### Swimming Up ###
.env
.env.*
!.env.example
!.env.production.example

node_modules/
vendor/

frontend/dist/
frontend/.vite/

backend/storage/logs/
backend/bootstrap/cache/

wordpress/wp-content/uploads/*
!wordpress/wp-content/uploads/.gitkeep
wordpress/wp-content/index.php
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/index.php
wordpress/wp-content/themes/index.php
wordpress/wp-content/themes/twentytwenty*/
